million_dataset/
processed_files/
.DS_Store
Preprocessing/MetadataReader.py
Preprocessing/SpotifyCredentials.py
Preprocessing/.cache
metadata/
Data Analysis/aggregated_data.csv
Data Analysis/mini_data.csv
